body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#answer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

#board{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    /* box */
    border: 2px solid #3A3A3C;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* text  */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: #538D4E;
    color: white;
    border-color: white;
}

.present{
    background-color: #B59F3B;
    color: white;
    border-color: white;
}

.absent{
    background-color: #3A3A3C;
    color: white;
    border-color: white;
}

.keyboard-row{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile{
    /* box */
    border: 1px solid lightgray;
    width: 36px;
    height: 40px;
    margin: 1px;

    /* text  */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.enter-key-tile{
    /* box */
    border: 1px solid lightgray;
    width: 76px;
    height: 40px;
    margin: 1px;

    /* text  */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;    
}

h3{
    font-size: small;
}

#popup{
    width: 400px;
    border: 2px solid #3A3A3C;
    background-color: white;
    transform: translate(110%, 0);
    text-align: center;
    padding: 0 30px 30px;
}